In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
POSTGRES_ADDRESS = 'db.panoply.io' 
POSTGRES_PORT = '5439'
POSTGRES_USERNAME = 'tristan@marketr.life' 
POSTGRES_PASSWORD = 'Y6!ZQnRqYridGNiG7bb_' 
POSTGRES_DBNAME = 'marketr' 
postgres_str = f'postgresql://{POSTGRES_USERNAME}:{POSTGRES_PASSWORD}@{POSTGRES_ADDRESS}:{POSTGRES_PORT}/{POSTGRES_DBNAME}'
cnx = create_engine(postgres_str)

In [3]:
df = pd.read_sql_query('''SELECT * FROM "public"."adwords_geo_performance_report_interaction types"''', cnx)

In [4]:
df.head()

,id,__updatetime,value,adwords_geo_performance_report_id,__senttime
0,08aa790d8372da6d9145574a279cfdc8,2019-11-16 17:27:43.661393,Clicks,7794156704_1026481_2840_6428867847_200618_9027...,2019-11-16 17:22:28.956
1,46d6ad4b75d8dd402862db5d39656fb8,2019-11-16 17:27:43.661393,Clicks,7847359156_1026481_2840_6428867847_200618_9027...,2019-11-16 17:22:28.956
2,6b7043264bb89ad38ae123f9909191db,2019-11-16 17:27:43.661393,Clicks,7794156704_1026481_2840_6428867847_200618_9027...,2019-11-16 17:22:28.956
3,8779ff52574e507608a690d65c67a71b,2019-11-16 17:27:43.661393,Clicks,7847359156_1026186_2840_6428867847_200618_9027...,2019-11-16 17:22:28.956
4,c1cd0c5db292f0968aff7900f5d82921,2019-11-16 17:27:43.661393,Clicks,7847359156_1026481_2840_6428867847_200618_1026...,2019-11-16 17:22:28.956